@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #ffb800;
  --color-paragraph: #3b3b3b;
  --color-subtitle: #5f5f5f;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
    direction: rtl;
  }

  body {
    @apply m-0 p-0 font-sans antialiased;
    direction: rtl;
    font-family: "Cairo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
